*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: linear-gradient(50deg, rgb(38 45 53), #171b1e);
    color: white;
}
.container{
    border: 2px solid white;
    padding: 20px;
    width: 30%;
    border-radius: 30px;
}
input{
    text-align: end;
    font-size: 2.5rem;
    margin: 20px auto;
    width: 100%;
    background: linear-gradient(50deg, rgb(38 45 53), #21262b);
    border: none;
    outline: none;
    border-radius: 30px;

}
button{
    margin: 10px 15px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 1.1rem;
    padding: 10px;
    background-color:  #292d31;
    border: none;
    outline: none;
    color: white;
    font-weight: bolder;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
    box-shadow: -8px -6px 11px rgb(67, 66, 66);
}
.blue{
    color: rgb(6, 157, 207);
}